.image-bookclub-confirmation {
  img {
  object-fit: cover;
  min-height: 100vh;
  width: 40%;
  }
}

.bookclub-confirmation-message {
  width: 500px;
  position: absolute;
  bottom: 50vh;
  left: 35vw;
  h2 {
    font-size: 45px;
    color: black;
  }
  p {
    padding-top: 20px;
    color: #383838;
    font-size: 24px;
  }
}

.link-button-confirmation {
  position: absolute;
  bottom: 35vh;
  right: 25vw;
  font-size: 24px;
  padding: 15px 25px;
}
