.image-confirmation {
  img {
  object-fit: cover;
  min-height: 100vh;
  width: 40%;
  }
}

.bookclub_confirmation_card {
  position: absolute;
  top: 125px;
  left: 380px;
  h1 {
    color: #383838;
    font-size: 50px;
  }
  p {
    color: #383838;
    font-size: 24px;
  }
}

.link-button-confirmation {
  position: absolute;
  bottom: 50px;
  right: 24px;
  font-size: 24px;
  padding: 15px 25px;
}
