#header-container-bookclubs {
  max-width: 600px;
  height: 240px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Nunito Sans";
    color: #383838;
    font-weight: bold;
    letter-spacing: 1px;
  }
  p {
    font-family: "Nunito Sans";
    color: #878787;
    font-size: 18px;
    margin-bottom: 30px;

  }
}

.card-trip {
  overflow: hidden;
  min-height: 330px;
  background: white;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  position: relative;
  top: 0;
  transition: 0.4s;
  &:hover {
    text-decoration: none !important;
    transition: 0.4s;
    box-shadow: 0 3px 17px rgba(0,0,0,0.3);
    top: -3px;
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 13px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  padding-top: 12px;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
}

.btn-bookclubs {
  position: relative;
  top: 8px;
  left: 8px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;

}

.card-links:hover {
  text-decoration: none;
}
