#header-container-bookclubs {
  max-width: 600px;
  height: 240px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Nunito Sans";
    color: #383838;
    font-weight: bold;
    letter-spacing: 1px;
  }
  p {
    font-family: "Nunito Sans";
    color: #383838;
    margin-bottom: 30px;

  }
}

.bookclub-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
  padding-bottom: 40px;
}

.card-trip {
  overflow: hidden;
  min-height: 335px;
  background: white;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  position: relative;
  top: 0;
  transition: 0.4s;
  color: #383838;
  &:hover {
    text-decoration: none !important;
    transition: 0.4s;
    box-shadow: 0 3px 17px rgba(0,0,0,0.3);
    top: -3px;
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip > h4 {
  margin: 0;
  color: #383838;
}

.card-trip > p {
  font-size: 13px;
  margin: 0;
  font-family: "Nunito Sans";
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  position: absolute;
}

.bookclub-name-postcode {
  width: 330px;
  display: flex;
  direction: row;
  justify-content: space-between;
}

.lil-book-genre {
  display: flex;
  direction: row;
}

.lil-book-genre > p {
  margin-bottom: 0;
  padding-left: 6px;
}

.btn-bookclubs {
  position: relative;
  top: 8px;
  left: 8px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;

}

.card-links:hover {
  text-decoration: none;
}
