.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
  margin-bottom: 50px;
  h2, p {
    font-family: 'Nunito Sans';
    color: #383838;
    font-size: 17px;
    word-wrap: break-word;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 3px;
  }
  p {
    font-size: 15px;
    margin-bottom: 3px;
  }
}

#year {
  margin-top: 0;
  color: #a1a1a1;
}

#header-container-books {
  max-width: 600px;
  height: 320px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Nunito Sans";
    color: #383838;
    font-weight: bold;
    letter-spacing: 1px;
  }
  p {
    font-family: "Nunito Sans";
    color: #878787;
    font-size: 18px;
    margin-bottom: 30px;

  }
}

.form-text-field {
  width: 360px;
  border: none;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  height: 50px;
  padding-left: 12px;
}

.form-text-field::placeholder {
  color: #a1a1a1;
  font-size: 15px;
}

.form-text-field:focus, .form-text-field:active {
  outline: none !important;
  box-shadow: 0 3px 12px rgba(0,0,0,0.3);
}

.btn-search:focus, .btn-search:active {
  outline: none !important;
  box-shadow: none !important;
}

.search-icon {
  font-size: 24px;
  color: #FE7866;
  transition: 0.3s;
  vertical-align: bottom;
  padding-left: 6px;
}

.search-icon:hover {
  color: #FF614C;
  transition: 0.3s;
}

#avatar-book-index {
  position: absolute;
  left: 105px;
  bottom: 10px;
}

form {
  display: inline-flex;
}

.filter-bar {
  display: flex;
  align-items: center;
  color: #383838;
  justify-content: space-between;
  background: #f0f0f0;
  padding: 8px;
  margin-bottom: 21px;
  h3 {
    font-size: 16px;
    margin-bottom: 0px;
  }
  h3, .dropdown-item {
    font-family: "Nunito Sans";
  }
}
