.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  h2, p {
    font-family: 'Spartan';
    color: black;
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
}

.box {
  background-color: #D1EDBA;
  width: 600px;
  height: 350px;
  margin: 16px auto;
  h1, p {
    position: relative;
    right: 140px;
  }
}

// * Small device displays * //
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// * Medium device display * //
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// * Large device display * //
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// * XLarge device display * //
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  box-shadow: 1px 1px 2px gray;
  position: relative;
  &:hover {
    border: 2px solid black;
    text-decoration: none;
    font-weight: bold;
  }
  .card-items {
    padding: 10px;
    max-width: 60%;
  }
}

.book_cover {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.text-container {
  h1 {
    font-family: 'Volkhov';
  }
  p {
    font-family: 'Spartan';
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-left: 300px;
}

.avatar {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 8px;
  top: 8px;
}

.form-control {
  width: 75%;
  margin-left: 16px;
}

form {
  display: inline-flex;
}
