.card-book {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  position: relative;
  top: 0;
  transition: 0.4s;
  &:hover {
    text-decoration: none;
    transition: 0.4s;
    box-shadow: 0 3px 17px rgba(0,0,0,0.3);
    top: -3px;
  }
  .card-items {
    padding: 23px;
    max-width: 60%;
  }
}


.card-trip {
  overflow: hidden;
  min-height: 330px;
  background: white;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  position: relative;
  top: 0;
  transition: 0.4s;
  &:hover {
    text-decoration: none !important;
    transition: 0.4s;
    box-shadow: 0 3px 17px rgba(0,0,0,0.3);
    top: -3px;
  }
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 13px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  padding-top: 12px;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;

}

.card-links:hover {
  text-decoration: none;
}
