.choose-book-container {
  margin-top: 45px;
  color: #383838;
}

#choose-book-header {
  text-align: center;
  margin-bottom: 50px;
}

#avatar-choose-book {
  position: absolute;
  left: 105px;
  bottom: 10px;
}
