// Specific CSS for your home-page

.homepage_banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  h1 {
    color: #383838;
    font-size: 64px;
    font-weight: bolder;
  }
  img {
    object-fit: cover;
    height: 100vh;
    width: 40%;
  }
}

.flex-right {
  padding: 16px;
  margin: 16px;
  flex: 1;
  min-height: calc(100vh - 56px);
  position: relative;
}

.banner-text {
  position: absolute;
  top: 100px;
  left: -175px;
}

.banner_btns {
  position: absolute;
  bottom: 80px;
  right: 50px;
}

.carousel {
  position: absolute;
  bottom: 165px;
  right: 30px;
  border-top: 1px solid #383838;
  max-width: 52%;
}

.carousel-item {
  p {
    font-style: italic;
  }
}

.btn-signup {
  display: inline-block;
  font-size: 24px;
  padding: 15px 25px;
}

.btn-signup:hover {
  text-decoration: none;
}

.grow:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.icon-card {
  background-color: #f0f0f0;
  position: relative;
  color: #383838;
  // box-shadow: 4px 4px 5px rgba(100,100,100,0.2);
  padding: 75px 50px 50px 50px;
  width: 250px;
  height: 250px;
  transition: bottom ease 0.5s;
  bottom: 0px;
  margin: 82px auto 50px auto;
    h2 {
      font-weight: bold;
    }
}

.icon-card:hover {
  transition: 0.3s;
  bottom: 5px;
}

.icon-card #find-image {
  width: 50px;
  transition: top ease 0.5s;
  position: absolute;
  bottom: 220px;
}

.icon-card #swap-image {
  width: 58px;
  transition: top ease 0.5s;
  position: absolute;
  bottom: 220px;
}

.icon-card #read-image {
  width: 50px;
  transition: top ease 0.5s;
  position: absolute;
  bottom: 220px;
}

.flex-item {
  justify-content: space-between;
}

.carousel-text {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 16px;
}

#quote-image {
  width: 50px;
  height: auto;
  position: absolute;
  top: -50px;
  left: 0px;
  z-index: 1000;
}
