// Specific CSS for your home-page

.btn-signup {
  z-index: 1000;
    margin-top: 20px;
    display: inline-block;
    font-size: 30px;
    padding: 20px 40px;
}

.btn-signup:hover {
  text-decoration: none;
}

.buttonposition {
  position: relative;
  left: 298px;
    bottom: 171px;
}


.image-background {
  margin-right: 40px;
  margin-left: 378px;
   img {
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
     box-shadow: 3px 4px 4px grey;
   }
      h1 {
            position: relative;
    top: 332px;
    right: 106px;
    width: 318px;
    font-size: 65px;
    font-weight: bold;
    color: #383838;
 }
}

.grow:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.icon-card {
  background-color: #f0f0f0;
  position: relative;
  color: #383838;
  // box-shadow: 4px 4px 5px rgba(100,100,100,0.2);
  padding: 75px 50px 50px 50px;
  width: 250px;
  height: 250px;
  transition: bottom ease 0.5s;
  bottom: 0px;
  margin: 30px auto;
    h2 {
      font-weight: bold;
    }
}

.icon-card:hover {
  transition: 0.3s;
  bottom: 5px;
}

.icon-card #find-image {
  width: 50px;
  transition: top ease 0.5s;
  position: absolute;
  bottom: 220px;
}

.icon-card #swap-image {
  width: 60px;
  transition: top ease 0.5s;
  position: absolute;
  bottom: 220px;
}

.icon-card #read-image {
  width: 50px;
  transition: top ease 0.5s;
  position: absolute;
  bottom: 220px;
}

.flex-item {
  justify-content: space-between;
}
