

.background-picture {
   height: 100vh;
   background-image: linear-gradient(rgba(255,255,255,.8)), url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=841&q=80);
   background-size: cover;
}

.margin-login-center {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
}

.login-form-inputs {
  border-top: 10px solid #FE7866;
  width: 400px;
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
  padding-bottom: 30px;
  background-color: white;
  margin-top: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.login-page {
  margin-top: 150px;
}

.login-form-inputs h1 {
  padding-bottom: 15px;
  font-weight: bolder;
  font-size: 44px;
  color: #3a3535;
}

.submit-login {
  width: 100%;
  background-color: #FE7866;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.submit-login:hover {
  color: white;
  opacity: 0.7;
  transition: 0.6s;
}

.login-form-inputs {
  .form-group {
    padding-bottom: 15px;
  }
}

.center-link-login {
  text-align: center;
}

.red {
  color: #FE7866;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.red:hover {
  color: #FE7866;
  opacity: 0.7;
  text-decoration: none;
}
