.mapclass {
  text-align: center;
  margin-top: 100px;
  h3 {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 40px;
    padding-bottom: 13px;
  }
}


#map {
 box-shadow: 2px 4px 4px lightgrey;
 border-radius: 10px;



}

.mapbox-style {
  display: flex;
  justify-content: center;
}
