
.whole-flex {
  display: flex;
}

.whole-card-show {
  background-color: #EBEBEB;
  padding-top: 20px;
  text-align: center;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  width: 550px;


    display: flex;
    flex-direction: column;
    align-items: center;

  h1 {
    margin-top: 30px;
    margin-bottom:30px;
    font-size: 30px;
  }
}

.bookclub-owner-image {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid white;
  position: absolute;
  top: 30px;
  right: -39px;
}

.margin-map {
  margin-bottom: 10px;
}

.mapbox-style-show-my-bookclub {
  display: flex;
  justify-content: center;
}

.capacity-show {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  font-size: 16px;
}


.other {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-info {
  padding-left: 44px;
  display: flex;
  flex-direction: column;
  align-items: self-end;
}
