.map-margin-my-bookclub {
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.my-bookclub-info {

  padding-left: 20px;
  box-shadow: 0 0 15px lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #D1EDBA;
}

.mapbox-style-my-bookclub {
  padding-top: 10px;
}
