
.whole-flex {
  display: flex;
}

.whole-card-show {
  padding: 60px 30px 30px 30px;
  background-color: #EBEBEB;
  padding-top: 20px;
  text-align: center;
  position: relative;
  width: 500px;


    display: flex;
    flex-direction: column;
    align-items: center;

  h1 {
    margin-top: 30px;
    margin-bottom:30px;
    font-size: 30px;
  }
}

.bookclub-owner-image {
     width: 110px;
    height: 110px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    top: 30px;
    right: -58px;
}

.margin-map {
  margin-bottom: 10px;
}

.mapbox-style-show-my-bookclub {
  display: flex;
  justify-content: center;
}

.capacity-show {
  border-bottom: 1px solid black;
  margin-bottom: 22px;
  margin-top: 10px;
  font-size: 16px;
}


.other {
  position: sticky;
  height: 100vh;
  top: 56px;
  display: flex;
  flex-direction: column;
  flex: 1;
  // h1 {
  //   position: absolute;
  // }
}

.badge-show {
  text-align: center;
    color: white;
    position: absolute;
    left: 681px;
    top: 109px;
    z-index: 1000;
    width: 200px;
    height: 200px;
    background: #FE7866;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
      box-shadow: 0 3px 12px rgba(0,0,0,0.2);

}

.flex-info {

  display: flex;
  flex-direction: column;
  align-items: self-end;
  width: 400px;
}








