.my-books-container {
  padding-top: 45px;
  color: #383838;
}

#my-books-header {
  text-align: center;
  margin-bottom: 50px;
}

#avatar-my-books {
  position: absolute;
  left: 90px;
  bottom: 10px;
}
