.swaps-box {
  padding: 10px;
  margin-top: 300px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 6px;
  color: #383838;
}

.swaps-box > h2 {
  align-text: center;
}

.nav-link {
  color: black;
  &:hover {
    color: grey;
  }
}

.flex-title-swaps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  a {
    padding-top: 10px;
  }
}

.bookswap-card {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 22px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  // position: absolute;
}

#book-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.bookswap-card-info {
  color: #383838;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 12px;
  word-wrap: break-word;
  p {
    margin-bottom: 1px;

  }
}

#book-title {
  font-weight: bold;
}

.link-to-performers {
  &:hover{
  text-decoration: none;
  }
}

.icon-with-text {
  align-text: center;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}

.microphone {
  font-size: 72px;
  padding-bottom: 10px;
}

#price {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 20px;
}

.price {
  flex-direction: column;
  justify-content: flex-end;
}

#rejected-message {
  color: red;
}

.swap-buttons {
  margin-top: 20px;
  text-align: right;
}

.pending-avatar {
  position: absolute;
  bottom: 23px;
  left: 115px;
}
