.swaps-box {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 6px;
  color: #383838;
  h2 {
    align-text: center;
  }
}

.nav-link {
  color: black;
  &:hover {
    color: grey;
  }
}

.flex-title-swaps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  a {
    padding-top: 10px;
  }
}

.bookswap-card {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 22px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  min-height: 215px !important;
  position: relative;
}

.book-cover-swaps {
  max-height: 170px !important;
  margin-bottom: 25px !important;
}

.bookswap-card-info {
  color: #383838;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word;
  padding-left: 40px;
  p {
    margin-bottom: 1px;

  }
}

#book-title {
  font-weight: bold;
}

.link-to-books {
  &:hover{
  text-decoration: none;
  }
}

#rejected-message {
  color: red;
}

.book-images-1 {
  position: relative;
}

.avatar-images-1 {
  position: absolute;
  top: 140px;
  left: 80px;
}

.book-images-2 {
  position: relative;
}

.avatar-images-2 {
  .receiving-avatar {
    position: absolute;
    top: 140px;
    left: 80px;
  }
  .giving-avatar {
    position: absolute;
    top: 335px;
    left: 80px;
  }
}

.book-images-3 {
  position: relative;
}
