.background-picture-sign-up {
  height: 100vh;
   background-image: linear-gradient(rgba(255,255,255,.8)), url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=841&q=80);
   background-size: cover;
}

.margin-signup-center {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
}

.signup-form-inputs {
  border-top: 2px solid #FE7866;
  width: 500px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.3);
  border-radius: 2px;
  padding-bottom: 30px;
  background-color: white;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.signup-form-inputs {
  .form-group {
    padding-bottom: 15px;
  }
}

.signup-form-inputs h1 {
  padding-bottom: 15px;
  font-weight: bolder;
  font-size: 55px;
  color: #3a3535;
}

.btn-signup {
  margin: 0 !important;
  border-radius: 0 !important;
}
