
.sign-up-page {
  margin-top: 150px;
}

.h1-tag {
  background-color: #D1EDBA;
  height: 500px;
  width: 700px;
  padding-right: 40px;
  box-shadow: 2px 3px 4px #D1EDBA;
  margin-bottom: 10px;
}

.h1-tag h1 {
  z-index: 1000;
  position: relative;
  right: 84px;
  top: 65px;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  padding-right: 20px;
}

.form-position {
  padding-left: 30px;
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 30px;
  padding-right: 30px;
  box-shadow: 2px 3px 8px lightgrey;
  p {
    font-size: 20px;
  }
}

.sign-up-button {
  text-align: center;
  width: 100%;
  background-color: #638D31;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  margin-top: 40px;
}

.sign-up-button:hover {
  text-decoration: none;
  opacity: 0.6;
}

