<div class="footer">
  <h3>Follow us</h3>
  <div class="social-links-div">
    <a href="https://www.instagram.com/juntobookclub/" class="social-link fab fa-instagram">
    </a>
    <a href="https://www.facebook.com/groups/1715381925391873/" class="social-link fab fa-facebook-f">
    </a>
        <a href="https://twitter.com/TwitterBooks?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="social-link fab fa-twitter">
    </a>
  </div>
</div>


