<div class="footer">
  <h3>Follow us</h3>
    <div class="social-links-div">
    <i class="social-link fab fa-instagram"></i>
    <i class="social-link fab fa-facebook-f"></i>
    <i class="social-link fab fa-twitter"></i>
  </div>
</div>
