


<div class="container home-image" style="margin-top: 90px;">
  <div class="row">
    <div class="col-lg-2 lefty" style="z-index: 1000;">
      <div class="main-title">
        <h1 style="font-size: 90px; margin-top: 10px; text-shadow: 1px 1px 2px 2px grey;">Share the stories you love...</h1>
        <%= link_to "Sign up",  new_user_registration_path, class: "sign-up" %>
      </div>
    </div>
    <div class="col-lg-10 righty">
      <img src="https://images.unsplash.com/photo-1450107579224-2d9b2bf1adc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="#">
    </div>
  </div>
</div>

  <br>
  <br>

<div class="container">
  <div class="row">
    <div class="col-lg-4 grow"  style="text-align: center;">
      <img src="https://cdn4.iconfinder.com/data/icons/e-commerce-5/512/Search_Detailed-512.png" alt="#" style="width: 200px; height: 200px;">
      <h2>Find the book</h2>
      <p>find the book you are looking for a see whetehr the owner is okay to swap.</p>
    </div>
    <div class="col-lg-4 grow" style="text-align: center;">
      <img src="https://cdn0.iconfinder.com/data/icons/arrow-set-3/100/Untitled-4-24-512.png" alt="#" style="width: 200px; height: 200px;">
      <h2>Swap Book</h2>
      <p>Meet the owner and swap the book.</p>
    </div>
    <div class="col-lg-4 grow" style="text-align: center;">
      <img src="https://cdn4.iconfinder.com/data/icons/basic-17/80/22_BO_open_book-512.png" alt="#" style="width: 200px; height: 200px;">
      <h2>Read Book</h2>
      <p>Then all you have to do is sit back and enjoy your novel.</p>
    </div>
  </div>
</div>









