<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="swaps-requested">
        <% @swaps.each do |swap| %>
          <h1><strong><%= swap.book_given.title %></strong></h1>
          <p><%= swap.book_given.year %></p>
          <p><%= swap.book_given.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
