<div class="banner-index">
  <div class="row banner-contents">

    <div class="col-xs-0 col-md-6 col-lg-6">
      <div class="text-container">
        <h1>Find your next book...</h1>
        <p>Search by title, author, genre...</p>
      </div>
    </div>

      <div class="col-xs-12 col-md-6 col-lg-6 justify-content-center form-container">
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @books.each do |book| %>
      <%= link_to(book_path(book), class: "card-links") do %>
        <div>
          <h2><%= "#{book.title}" %></h2>
          <p><%= "#{book.author_name}" %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
