
  <%= render "book-3d" %>

  <div class="fixed-bottom-card">
    <%= simple_form_for @book, html: { class: 'form-class' }, remote: true do |f| %>
      <%= f.submit "Swap", class: "btn-dark-green" %>
    <% end %>
    <%= link_to "Find another book", root_path, class: "find-another" %>
  </div>





