.btn-filter {
  width: auto;
  height: auto;
  background: #FE7866;
  text-align: center;
  border-radius: 0;
  transition: background 0.3s ease;
  color: white;
}

.btn-filter:hover {
  background: #FF614C;
  color: white;
}
