.btn-light-green {
  color: #222121 !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #D1EDBA;
  transition: background 0.3s ease;
  min-width: 100px;
  text-align: center;
}

.btn-light-green:hover {
  background: #B6E292;
}
