.btn-dark-green {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #85B95A;
  transition: background 0.3s ease;
  min-width: 100px;
  text-align: center;
}

.btn-dark-green:hover {
  background: #72A548;
  color: black
}
