<br>
<br>
<br>
<br>
<br>
<h1>Congratulations you have joined <%= @bookclub.name %> bookclub</h1>
<p>An email will be sent to you confirming contact details</p>

<%= link_to "My BookClub",  my_bookclub_path %>


